<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/bookcase.css' %}">
</head>
<body>
<div class="page-header">
    <h1><a href="/">Здесь должен быть список книг</a></h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-8">
            {% for book in books %}
            <div class="book">
                <p>{{ book.author }} "{{ book.title }}"</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


</body>
</html>